body {

    background-image: url("../img/blockchain.jpeg");
    background-repeat: no-repeat;
    background-size: cover;


}

.title {
    color: navy;
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
}

.sub-title {
    color: navy;
    font-weight: bold;
    margin-left: 20px;
    font-size: 25px;
}

.button {
    margin-left: 20px;
    background-color: navy;
    border: none;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

.button span.arrow-down {
    background: url("../img/arrow_down.png") no-repeat;
    /* float: right; */
    width: 20px;
    height: 20px;

}

.row {
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.column {
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}


.chip {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(132, 156, 138, 0.487);
    margin-right: 15px;
}

.chip span.linkedin {
    background: url("../img/linkedin.png") no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    margin: 5px 5px 5px 5px;
    border-radius: 50%;

}

.chip span.github {
    background: url("../img/github.png") no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    margin: 5px 5px 5px 5px;
    border-radius: 50%;

}

.chip span.discord {
    background: url("../img/discord.png") no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    margin: 5px 5px 5px 5px;
    border-radius: 50%;

}

.chip span.telegram {
    background: url("../img/telegram.png") no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    margin: 5px 5px 5px 5px;
    border-radius: 50%;

}


.button span.text {
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;

}

.navbar li {
    float: right;
}

.navbar a {
    display: block;
    color: black;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    padding: 3px 3px;



}

.navbar a:hover {

    color: rgba(2, 28, 145, 0.991);
    text-decoration-color: rgba(2, 28, 145, 0.991);
    border-bottom: 2px solid black;
    /* padding-bottom: 1px; */
}

.add-border-bottom {
    border-bottom: 2px solid black;
}

.remove-border-bottom {
    border-bottom: 0px;
}

.navbar a:visited {
    border-bottom: 2px solid black;
    visibility: visible;
}


.profile-chip {
    border-radius: 50%;
    background-color: white;
    margin-right: 15px;
    float: right;
    height: 50%;
    width: 50%;
}


.half-of-screensize-div {
    height: auto;
    width: 50%;
}

.seventy-percentage-of-screensive-div {
    height: auto;
    width: 70%;
}

.thirty-percentage-of-screensive-div {
    height: auto;
    width: 30%;
}

.special-p {
    letter-spacing: 1.3px;
    font-size: 18px;
    line-height: 1.5;
    word-spacing: 1.3px;
}

.skill-card-row {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.skill-card-column {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}

.skill-info-row {

    margin-top: 5px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}