body {

    background-image: url("../img/blockchain.jpeg");
    background-repeat: no-repeat;
    background-size: cover;


}

.column {
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;

}

.navbar li {
    float: right;
}

.navbar a {
    display: block;
    color: black;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    padding: 3px 3px;



}

.navbar a:hover {

    color: rgba(2, 28, 145, 0.991);
    text-decoration-color: rgba(2, 28, 145, 0.991);
    border-bottom: 2px solid black;
    /* padding-bottom: 1px; */
}

.add-border-bottom {
    border-bottom: 2px solid black;
}

.remove-border-bottom {
    border-bottom: 0px;
}

.navbar a:visited {
    border-bottom: 2px solid black;
    visibility: visible;
}

