body {
    background-color: rgba(218, 225, 220, 0.495);
}

h1 {
    color: navy;
    margin-left: 20px;
}


.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.navbar li {
    float: right;
}

.navbar a {
    display: block;
    color: black;
    text-align: center;
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 13px;
    margin-bottom: 13px;
    text-decoration: none;
    padding: 3px 3px;


}

.navbar a:hover {

    color: rgba(2, 28, 145, 0.991);
    text-decoration-color: rgba(2, 28, 145, 0.991);
    border-bottom: 2px solid black;

    /* padding-bottom: 1px; */



}