.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: #dcd5d557;
    color: black;
}

.flip-card-back {
    background-color: rgba(77, 76, 76, 0.288);
    color: white;
    transform: rotateY(180deg);
}


.card_button {
    padding: 5px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    background-color: rgb(77, 76, 76);
    border: none;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card_button span.arrow_right {
    background: url("img/arrow_right.png") no-repeat;
    /* float: right; */
    width: 30px;
    height: 30px;
}

.card_button span.text {
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-right: 165px;
}

.flip-card-back ul {
    list-style-type: none;
    padding: 0;
}

.flip-card-back li {
    border-bottom: 1px solid white;
}