body {

    /* background-image: url("img/blockchain.jpeg");
    background-repeat: no-repeat;
    background-size: cover; */


}

p {
              text-indent: 50px;
              letter-spacing: 3px;
              font-size: 22px;
              line-height: 2.2;
              word-spacing: 5px;
}